{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "import",
    "jsx-a11y",
    "react-hooks",
    "eslint-plugin-simple-import-sort",
    "testing-library",
    "jest-dom"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/space-before-blocks": [2, "always"],
    "semi": [2, "never"],
    "max-len": [2, 160, 4],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "comma-dangle": ["error", "never"],
    "computed-property-spacing": [2, "never"],
    "simple-import-sort/imports": 2,
    "import/no-unresolved": 0,
    "react/display-name": 0,
    "react/react-in-jsx-scope": 0,
    "testing-library/no-render-in-setup": 0,
    "testing-library/no-debugging-utils": 0,
    "testing-library/no-node-access": 0,
    "testing-library/prefer-explicit-assert": 2
  }
}
