# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# IntelliJ
.idea/

# config file
local-development.json

# built file
build/
dist/

# testing
coverage/
